.col-md-1.schedule.schedule__color-yellow
  .row.schedule--row(data-time="11:00")
    .event.event__row-36
      .time
        .start ALL TIME OPEN
  .row.schedule--row(data-time="11:15")
  .row.schedule--row(data-time="11:30")
  .row.schedule--row(data-time="11:45")
  .row.schedule--row(data-time="12:00")
  .row.schedule--row(data-time="12:15")
  .row.schedule--row(data-time="12:30")
  .row.schedule--row(data-time="12:45")
  .row.schedule--row(data-time="13:00")
  .row.schedule--row(data-time="13:15")
  .row.schedule--row(data-time="13:30")
  .row.schedule--row(data-time="13:45")
  .row.schedule--row(data-time="14:00")
  .row.schedule--row(data-time="14:15")
  .row.schedule--row(data-time="14:30")
  .row.schedule--row(data-time="14:45")
  .row.schedule--row(data-time="15:00")
  .row.schedule--row(data-time="15:15")
  .row.schedule--row(data-time="15:30")
  .row.schedule--row(data-time="15:45")
  .row.schedule--row(data-time="16:00")
  .row.schedule--row(data-time="16:15")
  .row.schedule--row(data-time="16:30")
  .row.schedule--row(data-time="16:45")
  .row.schedule--row(data-time="17:00")
  .row.schedule--row(data-time="17:15")
  .row.schedule--row(data-time="17:30")
  .row.schedule--row(data-time="17:45")
  .row.schedule--row(data-time="18:00")
  .row.schedule--row(data-time="18:15")
  .row.schedule--row(data-time="18:30")
  .row.schedule--row(data-time="18:45")
  .row.schedule--row(data-time="19:00")
  .row.schedule--row(data-time="19:15")
  .row.schedule--row(data-time="19:30")
  .row.schedule--row(data-time="19:45")
  .row.schedule--row(data-time="20:00")
  .row.schedule--row(data-time="20:15")
  .row.schedule--row(data-time="20:30")
  .row.schedule--row(data-time="20:45")
